#profile-bio {
  font-size: 1.2rem;
  max-height: 150px;
  font-style: italic;
}

.profile-bio-wrapper {
  text-align: center;
}

.profile-bio-wrapper button {
  font-size: 0.8rem;
  padding: 0.3em 1em;
  white-space: nowrap;
  margin: 0 0.2em;
}
