.textarea-comment {
  padding: 20px;
  font-size: 14pt;
  height: 20px;
  overflow: hidden;
  resize: none;
  transition: 50ms;
  border-radius: 50px;
}

.textarea-comment-onAction {
  border-radius: 15px;
  padding: 20px;
  font-size: 14pt;
  height: 100px;
  resize: none;
  transition: 50ms;
}

.textarea-comment-onAction, .textarea-comment {
  font-size: 1rem;
  width: 96.4%;
}

.textarea-comment-onAction:focus, .textarea-comment:focus {
  background-color: rgb(22, 22, 22);
  transition: 50ms;
}

.textarea-container {
  position: relative;
  width: 100%;
}

.comment-btn {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 400;
  transition: 50ms;
}

.comment-btn:hover {
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}